<!-- index.html -->
{% extends "base.html" %}

{% block content %}
<h3 class="text-dark">Bienvenidos a nuestra Tienda Outlet</h3>
<p class="text-dark">Esta es la página principal</p>

<div class="d-flex flex-row gap-3 justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="static/img/imagen2.png" class="card-img-top" alt="..." style="height: 600px;">
        <div class="card-body text-dark">
          <p class="card-text"></p>
          <a href="#" class="btn btn-info">Cotizar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="static/img/imagen3.png" class="card-img-top" alt="..." style="height: 600px;">
        <div class="card-body text-dark">
          <p class="card-text"></p>
          <a href="#" class="btn btn-info">Cotizar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="static/img/imagen4.png" class="card-img-top" alt="..." style="height: 600px;">
        <div class="card-body text-dark">
          <p class="card-text"></p>
          <a href="#" class="btn btn-info">Cotizar</a>
        </div>
      </div>
</div>

{% endblock %}
