<!--index.html-->
{% extends "base.html" %}

{% block content %}
<h1 class="text-dark">Nuestra marca</h1>
<div class="container my-5">
    <div class="text-dark">
        <p>En RIFLE somos como tú, diseñamos y construimos nuestras prendas con alta calidad para que nos lleves siempre contigo. RIFLE es marca JEANS WEAR dinámica y alegre
            En RIFLE estamos locos por el DENIM y somos 100% colombianos, trabajamos para ti, siempre innovando nuestros diseños y brindándote el mayor confort para que realices tus actividades en el día y en la noche con telas de alta calidad en nuestras prendas, acompañándote desde el año 1985.</p>
        <a href="#" class="btn btn-info btn-lg fw-bold mt-3">DESCUBRE</a>
    </div>
</div>


{% endblock %}